.filter-bar{
  background-color: lightgray;

  &-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }
  &-actions{
    display: flex;
    align-items: center;
    >*{
      margin: 0 10px;
    }
  }
  &-label{
    font-size: 20px;
    font-weight: bold;
  }
  &-col{
    display: flex;
    align-items: center;
    font-weight: 600;
    span{
      padding: 0 2px;
      font-size: 14px;
    }
  }
}