.section {
  &-single-film {
    background-color: #000;
  }
  &-body {
    display: flex;
    margin: 0 -20px;
    > * {
      padding: 0 20px;
    }
  }
  &-image {
    width: 33.3%;
    img {
      width: 100%;
      height: auto;
    }
  }
  &-content {
    flex: 1;
    color: #fff;
    margin-top: 30px;
  }
  &-title {
    font-size: 50px;
    font-weight: 600;
    color: tomato;
    margin-bottom: 10px;
  }
  &-subtitle {
    margin-bottom: 20px;
  }
  &-info {
    display: flex;
    align-items: center;
    margin: 0 -10px;
    > * {
      font-weight: bold;
      padding: 0 10px;
    }
  }
  &-data{
    margin-top: 20px;
  }
}